@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap" rel="stylesheet");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
*{
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  
}
body{
  width: 1440px;
  Font-size:18px;
  overflow-x: hidden;
}
.header{
  margin:0px;
  display: flex;
  align-items: center;
  padding: 0% 12%;
  }
  .list{
    display: flex;
    list-style: none;
    padding:0 10%;
  }
  .link{
    margin:0px;
    padding: 20px;
    color: hsl(233, 8%, 62%);
    font-family: 'Public Sans', sans-serif;
  }


.btn {
    background: linear-gradient(90deg, rgba(49,211,92,1) 30%, rgba(43,183,218,1) 93%);
    border: none;
    width: 159px;
    height: 47px;
    border-radius: 50px;
    font-size: 18px;
    color:white;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
  color: rgba(255,255,255,0.65);
}
.link:hover{
  color:hsl(233, 26%, 24%) ;
}
.seccion_1{
    padding:  0 12%;
    display: flex;
    height: 550px;
}
.container_left{
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans', sans-serif;
    width: 50%;
    margin: auto;
    padding: 62px;
  
}
h1{
 font-weight: 300;
 font-size: 3.8vw;
}
.parrafo1{
  font-weight: 300;
    font-size: 22px;
  margin: 25px 1px;
  color: hsl(233, 8%, 62%);
  font-family: 'Public Sans', sans-serif;
}
.right_1{
  width: 50%;
  position: relative;
  
   
}
.img_fondo{
  position: absolute;
    top: 86px;
    right: -194px;
    z-index: -15;
    height: 62%;
    width: 122%;
    transform: scale(1.5);

}
.img_adelante{
  position: absolute;
    top: 2px;
    width: 148%;
    height: 104%;
    z-index: -10;
}
.seccion_2{
display: flex ;
flex-direction: column;
background-color: hsl(0, 0%, 98%) ;
}
.why{
  display: flex;
  flex-direction: column;
  padding: 70px 0 90px;
  margin-top: -40px;
}
h2{
  font-weight: 300;
  font-family: 'Public Sans', sans-serif;
}
.text_2{
  color: hsl(233, 8%, 62%);
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  margin: 25px 1px;
  
}

.container_bank{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h3{
  color:hsl(233, 26%, 24%);
  font-family: 'Public Sans', sans-serif;
  
}
.online{
  font-weight: 300;
  width: 22%;
  color: hsl(233, 8%, 62%);
  font-family: 'Public Sans', sans-serif;
}
.section_3  {
  width:500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 4% 1%;
  background-color: #FAFAFA;
  padding: 70px 0;

}
h2{
  font-size: 2.5vw; 
}
.container_promo{
  display: flex;
  padding: 4% 0%;
}
.articulo{
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 225px;
  padding: 0px 10px;

  
}
.articulo img{
  width: 275px;
  height: 225px;
  border-radius: 5px 5px 0 0;

}
.subtitle_container_promo{
  color: hsl(233, 26%, 24%);
 font-size: 23px;
  font-weight: 500;
  width: 275px;
    height: 225px;
}
.subtitle_container_promo:hover{
  color:hsl(136, 65%, 51%) ;
}
.author{
  font-weight: 300;
  color: hsl(233, 8%, 62%);
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  margin-top: 27px;
  margin-bottom: 15px;
}
.footer_padre{
  display: flex;
  background-color:hsl(233, 26%, 24%) ;
  padding: 35px 0;
}
.link_left{
  display: flex;
  flex-direction: column;
  padding: 0 43px;
}
.logo_footer{
z-index: 20;
}
.social_footer{
  display: flex;
  width: 250px;
  max-width: 100%;
  margin-top: 10px;
}
.social_footer:hover{
  color:hsl(136, 65%, 51%) ;
}
.social-links{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 60px 0 0;
  align-items: center;
}
.social-links li{
  padding-right: 20px;
}

.footer-menu-container{
  display: flex;
  width: 400px;
  max-width: 100%;
  justify-content: space-around;
  color:hsl(0, 0%, 100%) ;
}
.footer-menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-self: center;
}
.footer-menu li{
  margin-bottom: 20px;
}
.footer-menu li a{
  color: var(--neutral-white);
  text-decoration: none;
}
.footer-menu li a:hover{
  color: #2FC287;
}
.footer-copyright{
  width: 550px;
  max-width: 100%;
  text-align: end;
  color: gray;
}